.root {
  li {
    display: inline-block;

    a {
      text-align: center;
      width: 45px;
      line-height: 42px;
      height: 45px;
      border: 1px solid #f04400;
      border-radius: 30px;
      margin-right: 10px;
      cursor: pointer;
      display: inline-block;
      background-color: #fe5f1e;
      color: white;

      &:hover {
        background-color: #fd4800;
      }
    }
  }

  :global {
    .selected {
      a {
        color: #fe5f1e;
        background-color: #fff;
        border: 1px solid #f04400;

        &:hover {
          background-color: #f8f8f8;
        }
      }
    }
  }
}
